@import "../../styles/config";

.profile-container {
  padding: 0 0 80px 0;

  .profile-header {
    .profile-banner {
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      align-items: center;
      height: 250px;
      background: linear-gradient(
        45deg,
        $primary-color,
        $tertiary-color,
        $primary-color,
        $tertiary-color,
        $primary-color
      );
      padding: 0 4rem;

      .profile-avatar {
        display: inline-flex;
        height: 150px;
        width: 150px;
        line-height: 150px;
        border-radius: 75px;
        background-color: $secondary-color;
        justify-content: center;
        align-items: center;
        font-size: 4em;
      }

      .profile-username {
        margin-bottom: 25px;
        font-size: 2em;
      }

      .list-count {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
      }

      .list-count-bubble {
        display: inline-flex;
        height: 60px;
        width: 60px;
        line-height: 60px;
        border: 3px solid rgb(179, 179, 179);
        border-radius: 30px;
        background-color: $secondary-color;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }

      .logout-button {
        background-color: $secondary-color;
        color: $primary-font-color;
        font-size: 1.2em;
        padding: 10px 30px;
        border-radius: 5px;
        border: 2px solid $secondary-color;
        margin: auto;

        &:hover {
          border: 2px solid black;
        }
      }
    }

    .profile-navbar {
      background-color: $primary-color;
      font-weight: bold;
      border-bottom: 1px solid $secondary-color;
      border-top: 1px solid $secondary-color;
      font-size: 1.2em;

      ul {
        display: flex;
        list-style-type: none;
        justify-content: center;
      }

      li {
        margin-right: 20px;
        padding: 5px 10px;
        cursor: pointer;
      }

      .active-nav-item,
      li:hover {
        border-bottom: 5px solid $tertiary-color;
      }
    }
  }

  .profile-lists {
    margin: auto;
    width: 80%;
    padding: 50px 0;

    .list-heading {
      font-size: 2em;
      margin-bottom: 50px;
    }
  }
}
