@import "../../styles/config";

.selected-movie-container {
  padding-bottom: 60px;

  .back-btn {
    position: absolute;
    top: 100px;
    color: $tertiary-color;
    font-size: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

.selected-movie-img-container {
  height: 80vh;
  position: relative;
  border-bottom: 2px solid $tertiary-color;

  img {
    height: 100%;
    width: 100%;
  }
}

.selected-movie-details {
  width: 80%;
  margin: auto;

  h2 {
    margin-bottom: 20px;
  }

  .mb-5 {
    margin-bottom: 50px;
  }

  .mb-10 {
    margin-bottom: 100px;
  }

  .selected-movie-info {
    position: relative;
    bottom: 50px;
    display: flex;
    align-items: center;
  }

  .selected-movie-poster {
    display: inline-block;
    width: 150px;
    height: 200px;
    border: 2px solid $tertiary-color;
    border-radius: 10px;
  }

  .selected-movie-headings {
    display: inline-block;
    margin-left: 40px;
    align-self: flex-end;

    .selected-movie-title {
      font-size: 32px;
    }

    .big-screen {
      list-style-type: none;
      display: flex;
      margin-top: 5px;
    }

    .small-screen {
      display: none;
      list-style-type: circle;
      list-style-position: inside;

      li {
        margin-bottom: 0.5em;
      }
    }

    .selected-movie-genre {
      margin-right: 20px;
    }

    .selected-movie-runtime,
    .selected-movie-rating {
      margin: 0 1em;

      i {
        margin-left: 5px;
      }
    }

    .user-actions {
      display: flex;
      align-items: center;
      margin-top: 10px;

      button {
        background: transparent;
        border: none;
        color: $primary-font-color;
      }

      & i {
        font-size: 1.8em;
        margin-right: 35px;
      }

      & i:hover {
        cursor: pointer;
      }

      .user-ratings-container {
        display: flex;
      }

      .delete-rating-btn {
        margin-left: 10px;
      }

      .active {
        color: $tertiary-color;
      }
    }
  }
}

.overview {
  margin-bottom: 30px;
}

.cast {
  .glide {
    margin: auto;
    display: flex;
    text-align: center;
    width: 100%;
  }

  /* .glide__track {
    height: 350px;
  } */

  .glide__slides {
    height: 100%;
    padding: 2rem 1rem;
  }

  .glide__slide {
    opacity: 0.6;
    transition: 0.3s all;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }

    img {
      width: 100%;
      height: 185px;
      border-radius: 5px;
    }
  }

  .slider-arrow {
    position: relative;
    bottom: 50px;
    font-size: 8rem;
    color: $tertiary-color;
  }
}

.trailers {
  .glide {
    margin: auto;
    display: flex;
    text-align: center;
    width: 100%;
  }
  .slider-arrow {
    font-size: 8rem;
    color: $tertiary-color;
  }

  .glide__slides {
    height: 100%;
    padding: 3rem 0;
  }
}

.review-card {
  background-color: $card-color;
  border: 1px solid $secondary-color;
  box-shadow: 5px 10px $secondary-color;
  padding: 20px;
  margin-bottom: 50px;

  &:first-of-type {
    margin-top: 50px;
  }

  .review-body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    margin: 20px 0;
  }

  .full-review-btn {
    opacity: 0.8;
    transition: all 0.1s;

    i {
      font-weight: 300;
      margin-left: 10px;
    }

    &:hover {
      padding-left: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .trailers {
    .glide__slides {
      height: 100%;
      padding: 3rem 0rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .selected-movie-details {
    width: 90%;

    .selected-movie-info {
      flex-direction: column;
      flex-wrap: wrap;

      .selected-movie-headings {
        margin: 0 auto;
      }

      .big-screen {
        display: none;
      }
      .small-screen {
        display: flex;
        flex-direction: column;
      }

      .selected-movie-title {
        text-align: center;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }

      .selected-movie-genre {
        display: inline-block;
      }

      .selected-movie-genre,
      .selected-movie-rating,
      .selected-movie-runtime {
        margin: 0.3em;
      }
    }

    .user-actions {
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 1em;
    }

    .cast {
      img {
        width: 90%;
        height: 165px;
        border-radius: 5px;
      }

      .glide__slides {
        height: 100%;
        padding: 3rem 0;
      }
    }

    .trailers {
      .glide__slides {
        height: 100%;
        padding: 3rem 0;
      }
    }
  }
}
