@import "../../styles/config";

.selected-movie-container {
  padding-bottom: 60px;

  .back-btn {
    position: absolute;
    top: 100px;
    color: $tertiary-color;
    font-size: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

.selected-movie-img-container {
  height: 80vh;
  position: relative;
  margin-top: 75px;
  border-bottom: 2px solid $tertiary-color;

  img {
    height: 100%;
    width: 100%;
  }
}

.selected-movie-details {
  width: 80%;
  margin: auto;

  h2 {
    margin-bottom: 20px;
  }

  .mb-5 {
    margin-bottom: 50px;
  }

  .mb-10 {
    margin-bottom: 100px;
  }

  .selected-movie-info {
    position: relative;
    bottom: 50px;
    display: flex;
    align-items: center;
  }

  .selected-movie-poster {
    display: inline-block;
    width: 150px;
    height: 200px;
    border: 2px solid $tertiary-color;
    border-radius: 10px;
  }

  .selected-movie-headings {
    display: inline-block;
    margin-left: 40px;

    ul {
      list-style-type: none;
      display: flex;
      margin-top: 5px;
    }

    .selected-movie-genre {
      margin-right: 20px;
    }

    .selected-movie-runtime,
    .selected-movie-rating {
      margin: 0 20px;
    }
  }

  .selected-movie-title {
    font-size: 32px;
  }
}

.overview {
  margin-bottom: 30px;
}

.cast {
  .glide {
    margin: auto;
    display: flex;
    text-align: center;
    width: 100%;
  }

  /* .glide__track {
    height: 350px;
  } */

  .glide__slides {
    height: 100%;
    padding: 2rem 1rem;
  }

  .glide__slide {
    opacity: 0.6;
    transition: 0.3s all;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }

    img {
      width: 140px;
      height: 185px;
      border-radius: 5px;
    }
  }

  .slider-arrow {
    position: relative;
    bottom: 50px;
    font-size: 8rem;
    color: $tertiary-color;
  }
}

.trailers {
  .slider-arrow {
    font-size: 8rem;
    color: $tertiary-color;
  }

  .glide__slides {
    height: 100%;
    padding: 3rem 1rem;
  }
}

.review-card {
  background-color: $card-color;
  border: 1px solid $secondary-color;
  box-shadow: 5px 10px $secondary-color;
  padding: 20px;
  margin-bottom: 50px;

  &:first-of-type {
    margin-top: 50px;
  }

  .review-body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    margin: 20px 0;
  }

  .full-review-btn {
    opacity: 0.8;
    transition: all 0.1s;

    i {
      font-weight: 300;
      margin-left: 10px;
    }

    &:hover {
      padding-left: 5px;
    }
  }
}

// similar-movies slider

.similar-movies {
  .glide {
    margin: auto;
    display: flex;
    text-align: center;
    width: 100%;
  }

  .glide__track {
    height: 350px;

    &:last-child() {
      border: none;
    }
  }

  .glide__slides {
    height: 100%;
    padding: 3rem 1rem;
  }

  .glide__slide {
    opacity: 0.6;
    transition: 0.3s all;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
      .rating {
        animation: fadeIn 0.5s ease-in;
        animation-fill-mode: forwards;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 0.85;
      }
    }

    img {
      width: 100%;
      height: 185px;
      border-radius: 5px;
    }

    .rating {
      position: absolute;
      top: 15px;
      left: 0;
      padding: 3px 10px;
      background-color: black;
      opacity: 0.85;
    }

    .fa-star {
      font-size: inherit;
      margin-left: 2px;
    }
  }

  .slider-arrow {
    position: relative;
    bottom: 50px;
    font-size: 8rem;
    color: $tertiary-color;
  }
}
