@import url("https://fonts.googleapis.com/css?family=Roboto");

// variables

$primary-color: #322538; // #2a1b3d;
$secondary-color: #615e64; // #38238d;
$tertiary-color: #faed26; // #d83f87;

$primary-font-color: #fff;

$primary-font: "Roboto", sans-serif;

$breakpoint: 768px;
