@import url("https://fonts.googleapis.com/css?family=Roboto");

// variables

$primary-color: #322538;
$secondary-color: #615e64;
$tertiary-color: #faed26;

$primary-font-color: #fff;

$card-color: #18121b;

$primary-font: "Roboto", sans-serif;

$breakpoint: 768px;
