@import "../../styles/config";

.slider {
  padding-top: 5rem;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    $primary-color,
    $tertiary-color,
    $primary-color
  );
  border-image-slice: 0 0 1 0;

  &:last-child {
    border: none;
  }

  .category {
    font-size: 2.5rem;
    text-transform: capitalize;
  }

  .glide {
    margin: auto;
    display: flex;
    text-align: center;
    width: 100%;
  }

  .glide__track {
    height: 350px;

    &:last-child() {
      border: none;
    }
  }

  .glide__slides {
    height: 100%;
    padding: 3rem 1rem;
  }

  .glide__slide {
    opacity: 0.6;
    transition: 0.3s all;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
      .rating {
        animation: fadeIn 0.5s ease-in;
        animation-fill-mode: forwards;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 0.85;
      }
    }

    .carousel-movie-title {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 0.5em;
    }

    img {
      width: 100%;
      height: 185px;
      border-radius: 5px;
    }

    .rating {
      position: absolute;
      top: 15px;
      left: 0;
      padding: 3px 10px;
      background-color: black;
      opacity: 0.85;
    }

    .fa-star {
      font-size: inherit;
      margin-left: 2px;
    }
  }

  .glide__arrow {
    position: absolute;
    top: 40%;
    font-size: 8rem;
    color: $tertiary-color;
  }
}

@media screen and (max-width: 576px) {
  .slider {
    .glide__slides {
      padding: 3rem 0;
    }

    .glide__slide img {
      width: 90%;
    }
  }
}
