@import "../../styles/config";

.login-container {
  width: 80%;
  margin: auto;
  margin-top: 75px;
  padding: 80px 0;

  .login-modal {
    display: flex;
    margin: auto;
    height: 450px;
    width: 700px;
    color: $primary-color;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 0 10px 10px 0;

    img {
      height: 150px;
      width: 150px;
      margin: 30px auto;
    }

    .submit-login-form-btn {
      cursor: pointer;
      background-color: $tertiary-color;
      border: 3px solid $tertiary-color;
      border-radius: 5px;
      width: 80%;
      text-align: center;
      font-weight: bold;
      padding: 1rem;
      margin: 0 auto;
      font-size: 1.2em;

      &:hover {
        border: 3px solid $tertiary-color;
        background-color: #fff;
        border-radius: 0.5rem;
      }
    }
  }

  .modal-image {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 1.4em;
    text-align: center;
    background-image: url("../../images/login-background-image.jpg");
    background-size: cover;
    border-radius: 10px 0 0 10px;

    h1 {
      padding-top: 30px;
      font-size: 35px;
    }
  }

  .back-btn {
    position: absolute;
    top: 100px;
    color: $tertiary-color;
    font-size: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}
