@import "./styles/config";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  font-family: $primary-font;
  line-height: 1.6;
  scroll-behavior: smooth;
  min-height: 100%;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: $primary-color;
  color: $primary-font-color;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}

.glide {
  margin: 0;
}

.glide__arrow {
  border: transparent;
}

.glide__arrow--left {
  left: 1rem;
}

.glide__arrow--right {
  right: 1rem;
}

button {
  cursor: pointer;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: $tertiary-color;
  color: black;
  position: absolute;
  padding: 5px 10px;
  font-size: 12px;
  bottom: -40px;
  right: -10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
}

[data-title] {
  position: relative;
  font-family: $primary-font;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 0; /* Footer height */
}

.content-wrap {
  padding-top: 75px;
  flex: 1;
}

.loader-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
